#block("title")默认标题#end

<style>
pre {
    white-space: initial;
    border: 1px dashed #AAA;
    padding: 10px;
    margin: 10px;
    background: #F3F3F3;
}
</style>

<script>
#render("common/encrypt", {
    "var": "F.encrypt",
    "keyToken": "0123456789abcdef"
})
</script>
<div class="main">
    #render("output")
</div>

#extends("common/default")