<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN"><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    #render("common-meta")
    #render("inline-style")
    <title>
        #block("title")网站主页#end - $page.getConfig('message.title')
    </title>
    <script type="text/javascript">
    F = {"basePath": "#getURI('OK')"};
    </script>
</head>
<body data-page="$page.getPageId()">
    <div class="header">
        #message("message.domain")
    </div>
    $body

    <!-- CSRF-TOKEN -->
    #render("token", {})
</body>
</html>