## 禁用布局功能
#macro(disabledLayout)$page.setLayout("")#end

## 禁用布局功能
#macro(message $key)$page.getConfig($key)#end

## 禁用布局功能
#macro(getURI $key)$page.getURI($key)#end

## 设置布局地址
#macro(extends $layoutName)$page.setLayout($layoutName)#end

## 获取外部模板
#macro(render $templateName, $dataMap)$page.renderTpl($templateName, $dataMap)#end